/*
 * UCSC Xena Web
 * https://xena.ucsc.edu/
 *
 * Style definitions specific to the UCSC Xena Web root component.
 */
@import '../styles/vars.module.css';

.bgAccentGreen {
	background-color: var(--accentgreen);
	color: var(--white);
}

.bgGreen {
	background-color: var(--primary);
	color: var(--white);
}

.bgPaleGreen {
	background-color: var(--palegreen);
	color: var(--primary);
}

.bgPeach {
	background-color: var(--accentpeach);
	color: var(--white);
}

.bgWhite {
	color: var(--primary);
}

.wrapper {
	padding: 0;
}

.wrapperFlex {
	flex: 1;
}

.section {
	padding: 72px 16px;
}

.section.small {
	padding: 40px 16px;
}

.section.publicPrivate {
	padding: 0;
}

.section.separator {
	border-top: 4px solid var(--xenagray);
}

/* Content width capped - markdown pages */
.contentWrapper {
	max-width: 750px;
}

.contentCol4, .contentCol7 {
	width: 100%;
}

.xenaButton {
	composes: mdSubtitle2 from './xenaFonts.module.css';
	align-items: center;
	border-radius: 4px;
	display: flex;
	height: 48px;
	justify-content: center;
	padding: 0 16px;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	width: 214px;
}

.xenaButton.small {
	width: 158px;
}

.xenaButton.yellow {
	background-color: var(--accentyellow);
	color: var(--primary);
}

.xenaButton.yellow:hover {
	background-color: var(--accentpeach);
	color: var(--white);
}

.xenaButton.white {
	background-color: var(--white);
	color: var(--accentpeach);
}

.xenaButton.peach, .xenaButton.learnMore {
	background-color: var(--accentpeach);
	color: var(--white);
}

.xenaButton.learnMore:hover {
	background-color: var(--accentyellow);
	color: var(--primary);
}

.xenaButton.peach:hover, .xenaButton.white:hover {
	background-color: var(--accentyellow);
	color: var(--primary);
}

.discoverImg {
	display: none;
}

/**
 * Xena specific breakpoint
 */
@media screen and (min-width: 992px) {

	.wrapper {
		margin-left: auto;
		margin-right: auto;
		padding-left: 16px;
		padding-right: 16px;
		width: 100%;
	}

	.bgPeach .section, .section.fixed {
		padding: 72px 16px;
	}

	.section {
		margin: 0 calc(100% / 12);
		max-width: 1168px;
		padding: 126px 16px;
	}

	.section.publicPrivate {
		padding: 116px 16px 142px;
	}

	.contentCol4 {
		max-width: 460px;
		width: calc(100% / 12 * 4);
	}

	.contentCol4.heroContent {
		max-width: 380px;
		width: calc(100% / 12 * 5);
	}

	.contentCol7 {
		width: calc(100% / 12 * 7);
	}

	.discoverImg {
		display: flex;
	}

	.roundImage {
		border-radius: 50%;
		height: 200px;
		width: 200px;
	}

	.xenaButton.learnMore {
		background-color: var(--white);
		color: var(--accentpeach);
	}

	.xenaButton.learnMore:hover {
		background-color: var(--white);
		color: var(--accentpeach);
	}
}

/**
 * Medium Window +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1280px) {

	.contentCol4.heroContent {
		max-width: 460px;
		width: calc(100% / 12 * 4);
	}
}

/**
 * Large Window +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1440px) {

	.wrapper {
		width: 1440px;
	}
}
