/**
 * UCSC Xena Web Colors
 */

:root {
	--black: #000000;
	--black3: rgba(0, 0, 0, 0.03);
	--black6: rgba(0, 0, 0, 0.06);
	--white: #FFFFFF;
	--primary: #1a535c;
	--accentgreen: #4ecdc4;
	--palegreen: #F7FFF7;
	--accentpeach: #ff6b6b;
	--accentyellow: #ffe66d;
	--xenagray: #d8d8d8;
}
