/*
 * UCSC Xena Web
 * https://xena.ucsc.edu/
 *
 * Style definitions specific to the UCSC Xena Web home component.
 */

/* Jumbotron */
.jumbotron {
	padding-bottom: 30px;
	padding-top: 16px;
	position: relative; /* Positions public/private image */
	text-align: center;
}

/* Jumbotron image */
.jumbotron img {
	margin-top: 30px;
	padding: 0 16px;
	width: 100%;
}

/* Overview */
.overview {
	padding: 0 16px 56px;
}

/* Overview paragraph */
.overview p {
	margin: 0 0 24px;
}

/* Public/Private */
.publicPrivate {
	overflow: hidden;
	position: relative; /* Positions green background */
}

/* Public/Private content */
.public, .private {
	padding: 72px 16px;
}

/* Public */
.public {
	background-color: var(--accentgreen);
}

/* Private */
.private {
	background-color: var(--primary);
}

.public h6, .private h6 {
	margin-bottom: 50px;
}

/* Socials, partners, subscribe, subscribe form */
.socials, .partners, .subscribe, .subscribe > form {
	display: flex;
	flex-direction: column;
}

/* Socials, subscribe form */
.socials, .subscribe > form {
	align-items: flex-start;
}

/* Subscribe */
.subscribe h6, .subscribe form {
	margin: 0;
}

/* Subscribe heading */
.subscribe h6 span {
	display: block;
	font: inherit;
}

/* Subscribe form */
.subscribe > form {
	margin-top: 40px;
}

/* Form */
.subscribe > form > div {
	margin: 0 0 24px 0;
	max-width: 450px;
	width: 100%;
}

/* Subscribe input */
.subscribe input {
	border: solid 4px var(--xenagray);
	border-radius: 4px;
	color: #1a535c;
	display: block;
	font-size: 1rem;
	font-weight: 700;
	padding: 10px;
	text-indent: 0;
	width: 100%;
}

.subscribe input:focus {
	outline: none;
}

/* Form response */
.subscribeResponse {
	padding: 4px;
}

.subscribeResponse a {
	color: var(--accentgreen);
	text-decoration: none;
}

/* Socials, partners */
.socials > a, .partners a {
	display: flex;
	justify-content: center;
}

.socials > a {
	align-items: center;
	cursor: pointer;
	flex: calc(100% / 3);
	padding: 16px 0;
	text-decoration: none;
}

.socials svg, .socials i {
	color: var(--accentgreen);
}

.socials svg {
	font-size: 18px;
}

.socials > a div {
	margin-left: 16px;
}

/* Partners */
.partners {
	align-items: center;
}

.partners a {
	padding-bottom: 40px;
}

.partners div:last-of-type a {
	padding: 0;
}

/* NCI group images */
.partners div:first-of-type img {
	height: 30px;
}

/* Other partners images - middle row */
.partners div:nth-of-type(2) img {
	height: 50px;
}

/* UCSC image */
.partners div:last-of-type img {
	height: 40px;
}

/**
 * Large Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {

	/* Subscribe */
	.subscribe > form {
		align-items: flex-start;
		flex-direction: row;
	}

	.subscribe > form > div {
		margin: -2px 16px 0 0;
	}
}

/**
 * Xena specific breakpoint
 */
@media screen and (min-width: 992px) {

	.jumbotron {
		padding-bottom: 32px;
		padding-top: 32px;
		text-align: left;
	}

	.jumbotron img {
		margin-top: 0;
		max-width: 665px;
		padding: 0;
		position: absolute;
		right: 16px;
		top: 100%;
		width: 50%;
	}

	/* Public/Private */
	.publicPrivate > div > div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	/* Private background */
	.publicPrivate::after {
		background-color: var(--primary);
		content: "";
		display: block;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		transform: skew(-20deg, 0deg);
		transform-origin: bottom left;
		width: 60%;
	}

	/* Public/Private content */
	.public, .private {
		background-color: unset;
		padding: 0;
	}

	/* Private */
	.private {
		z-index: 1;
	}

	/* Subscribe */
	.subscribe h6, .subscribe > form {
		align-self: center;
		width: 50%;
	}

	/* Socials */
	.socials {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.partners {
		align-items: unset;
	}

	.partners div {
		align-items: center;
		display: flex;
	}

	.partners div:not(:first-of-type) {
		padding-top: 60px;
	}

	.partners a {
		flex: 1;
		padding: 0;
	}

	/* NCI group images */
	.partners div:first-of-type img {
		height: 30px;
	}

	/* Other partners - middle row images */
	.partners div:nth-of-type(2) img {
		height: 50px;
	}

	/* UCSC image */
	.partners div:last-of-type img {
		height: 40px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1439px) {

	.publicPrivate::after {
		transform: skew(-10deg, 0);
		width: 57%;
	}
}

/**
 * Medium Window +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1280px) {

	.jumbotron img {
		right: 128px;
		width: 50%;
	}
}
