/*
 * UCSC Xena Web
 * https://xena.ucsc.edu/
 *
 * Style definitions specific to the UCSC Xena Web discover component.
 */
@import '../../styles/vars.module.css';

/* Discover */
.discover {
	align-items: flex-start;
	display: flex;
	flex-direction: column-reverse;
	margin-top: 48px;
}

/* Learn more image and button */
.discover .learnMore {
	flex: none;
	position: relative; /* Positions learn more button .bgLearnMore */
}

.learnMoreDetails, .learnMoreDetails:hover {
	color: var(--primary);
	cursor: default;
}

.learnMoreDetails.isLink {
	cursor: pointer;
	margin-bottom: 24px;
}

.learnMoreDetails p {
	font: inherit;
}

.discover a {
	text-decoration: none;
}

/**
 * Xena specific breakpoint
 */
@media screen and (min-width: 992px) {

	/* Discover */
	.discover {
		align-items: center;
		flex-direction: row;
		min-height: 270px;
	}

	.discover:first-of-type {
		margin-top: 92px;
	}

	/* Background - learn more */
	.discover .bgLearnMore {
		align-items: center;
		display: flex;
		justify-content: center;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.discover:hover .bgLearnMore {
		background-color: rgba(255, 255, 255, 0.54);
		opacity: 1;
	}

	/* Learn more details */
	.learnMoreDetails {
		margin-left: 48px;
		max-width: 632px;
		padding: 0 16px;
	}

	.learnMoreDetails.isLink {
		margin-bottom: 0;
	}
}
