/*
 * UCSC Xena Web
 * https://xena.ucsc.edu/
 *
 * Style definitions specific to the UCSC Xena Web layout component.
 */

.noScroll {
	left: 0;
	position: fixed;
	right: 0;
}

.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
