/*
 * UCSC Xena Web
 * https://xena.ucsc.edu/
 *
 * UCSC Xena Web footer component.
 */
@import '../../styles/vars.module.css';

/* Links and disclaimer */
.footerLinks, .disclaimer, .footerLinks > div, .disclaimer > span {
	display: flex;
	flex-direction: column;
}

/* Link - UCSC and socials */
.footerLinks, .disclaimer, .footerLinks > div, .disclaimer > span {
	padding: 0 8px;
}

/* Links container */
.footerLinks {
	margin-top: 32px;
}

/* Disclaimer container */
.disclaimer {
	margin: 12px 0 32px;
}

/* Link and disclaimer alignment */
.footerLinks > div, .disclaimer > span {
	align-self: center;
	text-align: center;
	width: 100%;
}

/* Socials */
.footerLinks > div + div {
	margin-top: 12px;
}

/* Link and social */
.footerLinks a:not(:last-of-type) {
	margin-bottom: 8px;
}

/* Link and social */
.footerLinks a {
	color: var(--white);
	text-decoration: none;
}

/* Disclaimer */
.disclaimer > span {
	font-weight: 300;
}

/**
 * Small Window +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 960px) {

	/* Links container */
	.footerLinks, .footerLinks > div, .disclaimer, .disclaimer > span {
		flex-direction: row;
		width: unset;
	}

	.footerLinks {
		justify-content: space-between;
	}

	/* Link and social */
	.footerLinks a:not(:last-of-type) {
		margin: 0;
	}

	/* Dot */
	.footerLinks a:not(:last-of-type):after {
		color: var(--white);
		content: "\b7";
		margin: 0 16px;
	}

	.footerLinks > div + div {
		margin-top: 0;
	}
}
